* {
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-group{
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.brand-group img {
  width: 40px;
}

.brand-group ul {
  display: flex;
  margin: 0;
  list-style: none;
}


.champion-card {
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 15px;
}
